.addition__legend {
  position: relative;

  margin-bottom: 32px;
  padding-left: 20px;

  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  text-transform: none;
  color: @color-title;

  @media (min-width: @tablet-width) {
    margin-bottom: 71px;
    padding-left: 72px;
    font-size: @big-font-size;
    line-height: @biggest-line-height;
  }

  &::before {
    @media (min-width: @tablet-width) {
      content: "";
      position: absolute;
      top: 54%;
      left: 0;

      flex-grow: 1;
      flex-shrink: 0;

      width: 18%;
      height: 3px;

      background: @main-color;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -98%;

    flex-grow: 1;
    flex-shrink: 0;

    width: 85%;
    height: 3px;

    background: @main-color;

    @media (min-width: @tablet-width) {
      top: 54%;
      right: -171%;

      width: 439px;
    }
  }
}

.addition-list {
  .list-reset();

  padding-left: 20px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding-left: 70px;
    padding-right: 140px;
  }
}

.addition-list__option {
  margin-bottom: 28px;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 54px;
  }
}

.addition-list__option--sweetener {
  @media (min-width: @tablet-width) {
    margin-right: 100px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 0;
  }
}

.addition-list__option--vitamins {
  @media (min-width: @tablet-width) {
    margin-right: 35px;
  }
}

.addition-list__label {
  position: relative;

  padding-left: 46px;

  font-size: @medium-font-size;
  line-height: @main-line-height;
  color: #222222;

  @media (min-width: @tablet-width) {
    padding-left: 60px;

    font-size: 20px;
    line-height: @big-line-height;
  }
}

.addition-list__label:active {
  color: rgba(34, 34, 34, 0.3);
}

.addition-list__label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 30px;
  height: 30px;

  border: 1px solid #cdcdcd;

  @media (min-width: @tablet-width) {
    top: -5px;

    width: 40px;
    height: 40px;
  }
}

.addition-list__label:hover::before {
  border: 1px solid #bababa;
}

.addition-list__label:active::before {
  border: 1px solid #bababa;
  opacity: 0.3;
}

.addition-list__input:checked + .addition-list__label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;

  width: 22px;
  height: 17px;

  background-image: url("../img/icon-tick.svg");

  @media (min-width: @tablet-width) {
    top: 10px;
    left: 10px;
  }
}

.addition-list__input:checked + .addition-list__label:active::after {
  opacity: 0.3;
}
