.advantages__title {
  padding-left: 22px;

  font-size: @big-font-size;
  line-height: 60px;
  font-weight: normal;
  text-transform: none;
  text-align: left;
  color: @color-title;
}

.advantages-list {
  .list-reset();
  padding-bottom: 25px;

  .advantages-list__item {
    padding-left: 20px;
  }

  .advantages-list__item p {
    padding-left: 80px;

    font-family: "Arial", sans-serif;
    .main-font();
    text-transform: none;
    text-align: left;
    color: @color-text;
  }
}
