.cat-data {
  @media (min-width: @desktop-width) {
    width: 30%;
  }
}

.cat-data__label {
  font-size: @medium-font-size;
  line-height: @main-line-height;
  color: #222222;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: @big-line-height;
  }
}

.cat-data__name,
.cat-data__weight,
.cat-data__years {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    padding-left: 71px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 112px;
    width: 700px;
  }
}

.cat-data__weight,
.cat-data__years {
  @media (min-width: @tablet-width) {
    padding-right: 0;
  }
}

.cat-data__name,
.cat-data__weight {
  margin-bottom: 40px;

  @media (min-width: @desktop-width) {
    margin-bottom: 22px;
  }
}

.cat-data__years {
  padding-bottom: 26px;

  @media (min-width: @tablet-width) {
    padding-bottom: 63px;

    border-bottom: none;
  }

  @media (min-width: @desktop-width) {
    min-width: 130px;
  }
}

.cat-data__label--name {
  margin-right: 15px;
}

.cat-data__label--weight {
  margin-right: 13px;

  @media (min-width: @desktop-width) {
    margin-right: 19px;
  }
}

.cat-data__label--years {
  margin-right: 16px;
}

.cat-data__cat {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;

  border: 1px solid #e6e6e6;

  &--name {
    width: 83%;

    @media (min-width: @desktop-width) {
      width: 78%;
    }
  }

  &--weight {
    width: 73%;

    @media (min-width: @tablet-width) {
      width: 76%;
    }

    @media (min-width: @desktop-width) {
      width: 70%;
    }
  }

  &--years {
    width: 60%;

    @media (min-width: @tablet-width) {
      width: 70%;
    }

    @media (min-width: @desktop-width) {
      width: 64%;
    }
  }

  &:active {
    border-color: @color-text;
  }
}

.cat-data__cat::placeholder {
  font-size: @medium-font-size;
  line-height: @main-line-height;
  color: @color-text;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: @big-line-height;
  }
}
