.cat-data__label {
  font-size: @medium-font-size;
  line-height: @main-line-height;
  color: #222222;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: @big-line-height;
  }
}

.cat-data__name,
.cat-data__weight,
.cat-data__years {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    padding-left: 71px;
  }

   @media (min-width: @tablet-width) {
    padding-left: 112px;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
  }
}

.cat-data__weight,
.cat-data__years {
  @media (min-width: @tablet-width) {
    padding-right: 0;
  }
}

.cat-data__name,
.cat-data__weight {
  margin-bottom: 40px;
}

.cat-data__years {
  padding-bottom: 26px;

  border-bottom: 1px solid #ededed;

  @media (min-width: @tablet-width) {
    padding-bottom: 63px;

    border-bottom: none;
  }
}

.cat-data__label--name {
  margin-right: 15px;
}

.cat-data__label--weight {
  margin-right: 13px;
}

.cat-data__label--years {
  margin-right: 16px;
}

.cat-data__cat {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;

  &--name {
    width: 83%;
  }

  &--weight {
    width: 73%;

    @media (min-width: @tablet-width) {
      width: 76%;
    }
  }

  &--years {
    width: 60%;

    @media (min-width: @tablet-width) {
      width: 70%;
    }
  }

  &:active {
    border-color: @color-text;
  }
}

.cat-data__cat::placeholder {
  font-size: @medium-font-size;
  line-height: @main-line-height;
  color: @color-text;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: @big-line-height;
  }
}







/*&__user--surname {
  padding-top: 11px;
  padding-bottom: 13px;
  padding-left: 20px;
  width: 187px;
  box-sizing: border-box;

  font-family: @fancy-font, "Arial", sans-serif;
  font-weight: bold;
  .main-font();

  border: 4px solid @form-background-color;
  background-color: @form-background-color;

  @media (min-width: @tablet-width) {
    width: 178px;
  }

  @media (min-width: @desktop-width) {
    width: 312px;
  }
}*/
