.demonstration {
  padding-bottom: 38px;
  padding-left: 20px;
  padding-right: 20px;

  background-color: @background-color;

  @media (min-width: @tablet-width) {
    padding-left: 30px;
    padding-right: 31px;

    background-color: transparent;
  }

  @media (min-width: @desktop-width) {
    padding-left: 110px;
  }
}

.demonstration__title {
  font-size: @big-font-size;
  line-height: 60px;
  font-weight: normal;
  text-transform: none;
  text-align: left;
  color: @color-title;

  @media (min-width: @tablet-width) {
    margin-top: 50px;
    margin-bottom: 60px;

    font-size: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 70px;
  }
}

.demonstration__wrapper {
  @media (min-width: @desktop-width) {
    display: flex;
    /*justify-content: space-between;*/
  }
}

.demonstration__text {
  font-family: "Arial", sans-serif;
  .main-font();
  text-transform: none;
  text-align: left;
  color: @color-text;

  @media (min-width: @tablet-width) {
    margin-right: 25px;
    margin-bottom: 56px;

    font-size: @medium-font-size;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    width: 440px;
  }
}

.demonstration__wrapper-data {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 72px;
  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.data-list {
  display: flex;
  justify-content: space-between;

  height: 110px;

  .list-reset();

  @media (min-width: @desktop-width) {
    margin-bottom: 48px;;
  }
}

.data-list__item {
  position: relative;

  min-width: 124px;

  @media (min-width: @tablet-width) {
    min-width: 162px;
  }
}

.data-list__item:first-child {
  @media (min-width: @tablet-width) {
    margin-right: 42px;
  }
}

.data-list__item:last-child {
  @media (min-width: @tablet-width) {
    margin-right: 167px;
  }
}

.data-list__number-wrapper {
  padding-top: 15px;
  padding-bottom: 20px;
  min-width: 124px;

  border: 1px solid #cfcfcf;
  border-radius: 3px;
}

.data-list b {
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  color: @color-title;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.data-list__text {
  margin: 0 auto;
  margin-top: -9px;

  font-family: "Arial", sans-serif;
  font-size: @small-font-size;
  line-height: 12px;
  text-transform: none;
  font-weight: normal;
  color: @color-text;
  background-color: @background-color;

  @media (min-width: @tablet-width) {
    font-size: @main-font-size;
    line-height: @small-line-height;

    background-color: #ffffff;
  }
}

.data-list__text--slim {
  padding-left: 17px;
  padding-right: 17px;
  width: 88px;

  @media (min-width: @tablet-width) {
    padding-left: 10px;
    padding-right: 10px;
    width: 120px;
  }
}

.data-list__text--waste-time {
  padding-left: 17px;
  padding-right: 17px;
  width: 91px;

  @media (min-width: @tablet-width) {
    padding-left: 1px;
    padding-right: 1px;
    width: 141px;
  }
}

.demonstration__conclusion {
  font-size: @small-font-size;
  line-height: @big-line-height;
  font-weight: normal;
  color: @color-title;

  @media (min-width: @tablet-width) {
    margin-top: 0;

    font-size: 20px;
    line-height: 30px;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    text-align: left;
  }
}

.demonstration__conclusion span {
  @media (min-width: @desktop-width) {
    margin-right: 60px;
  }
}

/*.demonstation__slider--before {
  @media (min-width: @tablet-width) {
    background-color: @background-color;
  }
}

.demonstation__slider--after {
  @media (min-width: @tablet-width) {
    background-color: #eaeaea;
  }
}*/

.demonstration__list {
  .list-reset();
}
