/*.feedback {
  padding-left: 20px;
  padding-right: 20px;
}*/

.feedback fieldset {
  .fieldset-reset();

  text-align: left;
}

.feedback__wrapper {
  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
  }
}

.feedback__submit {
  margin-left: 20px;
  margin-right: 20px;

  @media (min-width: @tablet-width) {
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: space-between;
    margin-bottom: 72px;
    margin-left: 71px;
    margin-right: 160px;
  }

  @media (min-width: @desktop-width) {
    justify-content: flex-start;
    margin-left: 111px;
  }
}

.feedback__send-button {
  @media (min-width: @tablet-width) {
    margin-left: 0;
    padding-top: 15px;
    padding-bottom: 17px;
    width: 283px;

    font-size: 20px;
    line-height: @big-line-height;
  }

  @media (min-width: @desktop-width) {
    margin-right: 82px;
  }
}

.feedback__note {
  font-size: @main-font-size;
  line-height: @medium-line-height;
  text-align: center;
  color: @color-text;

  @media (min-width: @tablet-width) {
    font-size: @medium-font-size;
    line-height: @medium-line-height;
    text-align: left;
  }
}

/*& input::placeholder,
& textarea::placeholder {
    color: black;
    opacity: 1;
    font-weight: bold;
  }*/
