.intro {
  position: relative;
  z-index: 5;

  @media (min-width: @tablet-width) {
    margin-left: 120px;
    min-height: 775px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 180px;
    margin-bottom: -120px;
  }
}

.intro__presentation {
  margin-bottom: 150px;

  height: 305px;

  background-color: @main-color;
  background-image: url("../img/index-background-mobile@1x.jpg");

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    background-color: transparent;
    background-image: none;
  }
}

.intro__title {
  margin-top: 0;
  padding-top: 29px;

  font-size: @big-font-size;
  line-height: @biggest-line-height;
  font-weight: normal;
  text-transform: none;
  color: #ffffff;

  @media (min-width: @tablet-width) {
    margin-bottom: 33px;

    font-size: 60px;
    line-height: 60px;
    text-align: left;
    font-family: @fancy-font-one, "Arial", sans-serif;
    color: @color-title;
  }
}

.intro__text {
  font-size: @main-font-size;
  line-height: @small-line-height;
  color: #ffffff;

  @media (min-width: @tablet-width) {
    position: relative;
    text-align: left;
    z-index: 5;

    font-size: 20px;
    line-height: 20px;
    font-family: @fancy-font-one, "Arial", sans-serif;
    color: @color-title;
  }
}

.intro__picture-wrapper {
  @media (min-width: @desktop-width) {
    content: "";
    position: absolute;
    left: 42.7%;
    bottom: 220px;
    z-index: 0;

    width: 720px;
    height: 696px;

    background-color: @main-color;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;

    @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    background-image: url("../img/index-background-desktop@2x.jpg");
    }
  }
}

.intro__image {
  content: "";
  position: absolute;
  top: 35%;
  left: 7%;

  @media (min-width: @tablet-width) {
    top: 29%;
    left: -10%;
    z-index: 0;

    display: block;
    margin-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    top: 20%;
    left: -22%;
  }
}

.intro__button {
  margin-left: 20px;
  margin-right: 20px;
  width: auto;

  .main-font();

  @media (min-width: @tablet-width) {
    position: relative;
    bottom: 205px;
    z-index: 5;

    margin-left: 0;
    margin-right: 0;
    width: 245px;
  }
}
