.page-header {
  padding-top: 15px;

  @media (min-width: @tablet-width) {
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.page-header__logo {
  display: block;
  margin-bottom: 20px;
  margin-right: 90px;

  @media (min-width: @tablet-width) {
    margin-top: 7px;
  }
}

.page-header__logo-image:hover {
  opacity: 0.8;
}

.page-header__logo-image:focus,
.page-header__logo-image:active {
  opacity: 0.6;
}
