.page-main__title {
  margin-top: 30px;
  margin-bottom: 35px;
  margin-left: 20px;

  font-size: @big-font-size;
  line-height: 60px;
  font-weight: normal;
  text-transform: none;
  text-align: left;
  color: @color-title;
}

.page-main__call-to-action {
  margin-bottom: 39px;
  margin-left: 20px;
  max-width: 230px;

  .main-font();
  text-transform: none;
  text-align: left;
  color: @color-title;
}
