.program-type__wrapper {
  width: 280px;

  @media (min-width: @tablet-width) {
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
  }
}

.program-type-list {
  margin-left: 20px;
  margin-right: 20px;

  .list-reset();

  @media (min-width: @tablet-width) {
    margin-left: 30px;
    margin-right: 30px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    margin-bottom: 79px;
    margin-left: 109px;
  }
}

.program-type-list__item {
  padding-left: 21px;
  padding-right: 20px;

  text-align: left;
  background-color: @background-color;

  @media (min-width: @tablet-width) {
    padding-bottom: 62px;
    padding-left: 52px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 140px;
    padding-left: 45px;
    width: 540px;
  }
}

.program-type-list__item:last-child {
  @media (min-width: @desktop-width) {
    margin-right: 0;
  }
}

.program-type-list__item h3 {
  position: relative;

  padding-top: 39px;
  padding-left: 70px;

  font-size: 24px;
  line-height: 37px;
  font-weight: normal;
  color: @color-title;

  @media (min-width: @tablet-width) {
    font-size: 36px;
  }

  @media (min-width: @tablet-width) {
    padding-top: 81px;
    padding-bottom: 60px;
    padding-left: 164px;
  }
}

.program-type-list__slim::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 0;

  width: 50px;
  height: 51px;

  background-color: @main-color;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    top: 60%;
    left: 65%;

    width: 200px;
    height: 200px;
  }

  @media (min-width: @desktop-width) {
    top: 40%;
    left: 0;

    width: 100px;
    height: 100px;
  }
}

.program-type-list__slim::after {
  content: "";
  position: absolute;
  top: 40%;
  left: 5%;

  width: 35px;
  height: 49px;

  background-image: url("../img/icon-cat-slim.svg");
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    top: 40%;
    left: 70%;

    width: 141px;
    height: 194px;
  }

  @media (min-width: @desktop-width) {
    top: 38%;
    left: 1%;

    width: 71px;
    height: 97px;
  }
}

.program-type-list__pro::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 0;

  width: 50px;
  height: 50px;

  background-color: @main-color;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    top: 60%;
    left: 65%;

    width: 200px;
    height: 200px;
  }

  @media (min-width: @desktop-width) {
    top: 40%;
    left: 0;

    width: 100px;
    height: 100px;
  }
}

.program-type-list__pro::after {
  content: "";
  position: absolute;
  top: 55%;
  left: -5%;

  width: 67px;
  height: 28px;

  background-image: url("../img/icon-cat-pro.svg");
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    top: 110%;
    left: 57%;

    width: 268px;
    height: 113px;
  }

  @media (min-width: @desktop-width) {
    top: 53%;
    left: -2%;

    width: 134px;
    height: 57px;
  }
}

.program-type-list__item p {
  padding-bottom: 25px;

  font-family: "Arial", sans-serif;
  font-size: @main-font-size;
  line-height: @main-line-height;
  text-transform: none;
  color: @color-text;

  border-bottom: 1px solid #d9d9d9;

  @media (min-width: @tablet-width) {
    max-width: 375px;

    font-size: @medium-font-size;
    line-height: 24px;

    border-bottom: none;
  }
}

.program-type-list__item .program-type-list__slim-text {
  @media (min-width: @desktop-width) {
    max-width: 490px;
  }
}

.program-type-list__item .program-type-list__pro-text {
  @media (min-width: @tablet-width) {
    max-width: 340px;
  }

  @media (min-width: @desktop-width) {
    max-width: 450px;
  }
}

.program-type-list__link {
  position: relative;

  display: block;
  padding-top: 5px;
  padding-bottom: 22px;

  font-size: @medium-font-size;
  line-height: @medium-line-height;
  color: @color-text;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: @big-line-height;
  }

  &::after {
    content: "";
    position: absolute;
    top: 20%;
    right: 45%;

    width: 25px;
    height: 12px;

    background-image: url("../img/icon-right-arrow-long.svg");

    @media (min-width: @tablet-width) {
      right: 75%;
    }

    @media (min-width: @desktop-width) {
      right: 65%;
    }
  }

  &:active {
    color: rgba(17, 17, 17, 0.3);
  }
}

.program-type-list__link:active::after {
  opacity: 0.3;
}
