.promotion {
  margin-left: 20px;
  margin-right: 20px;

  height: 289px;

  background-color: @main-color;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
}

.promotion__link {
  position: relative;
  top: 65%;

  display: block;
  margin-left: 55px;
  margin-right: 55px;

  font-family: "Arial", sans-serif;
  font-size: @medium-font-size;
  line-height: @big-line-height;
  text-transform: none;
  color: #ffffff;
}

/*.promotion__link::before {
  content: "";
  position: absolute;
  bottom: 190%;
  left: 30%;

  width: 56px;
  height: 61px;

  background-image: url("../img/icon-gift.svg");
}*/

.promotion__icon {
  content: "";
  position: absolute;
  bottom: 85px;
  left: 35%;
}

.promotion__link path {
  fill: #ffffff;
}
