.site-list {
  .list-reset();

  font-size: 20px;
  line-height: @big-line-height;
}

.site-list__item {
  border-bottom: 1px solid #e6e6e6;
}

.site-list__item:first-child {
  border-top: 1px solid #e6e6e6;
}

.site-list__item a {
  display: block;

  padding-top: 24px;
  padding-bottom: 24px;

  font-family: @fancy-font-two, "Arial", sans-serif;
  color: @color-title;
}

.site-list__item a:hover {
  color: rgba(17, 17, 17, 0.6);
}

.site-list__item a:active {
  color: rgba(17, 17, 17, 0.3);
}
