@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 767px;
@fancy-font: "Oswald";
@small-font-size: 12px;
@main-font-size: 14px;
@medium-font-size: 16px;
@big-font-size: 36px;
@small-line-height: 14px;
@medium-line-height: 16px;
@main-line-height: 18px;
@big-line-height: 20px;
@main-text-transform: uppercase;
@main-color: #68b738;
@color-title: #111111;
@color-text: #444444;
@border-color-one: #cdcdcd;
@border-color-two: #ededed;
@background-color: #f2f2f2;
